.carousel-caption {
  left: 10%;
  padding-top: 9.25rem;
}
.display-1 {
  font-size: 3.125rem;
  font-weight: 600;
}
.caption-description{
    max-width: 360px;
}
#custom-text {
  background: #fff;
  border-radius: 2px;
  margin-bottom: 1.5rem;
  padding: 3.125rem;
  text-align: center;
}
#custom-text h3 {
  text-transform: uppercase;
  color: #232323;
  font-size: 1.563rem;
  font-weight: 700;
}
#custom-text p {
  color: #232323;
  font-weight: 400;
  font-size: 1.1em;
}
#custom-text p .dark {
  color: #7a7a7a;
  font-weight: 400;
}